@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

*{
  font-family: "Madimi One", sans-serif;

  user-select: none;
}

.button{
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #D85B02;
  border: 2px solid #D85B02;
  color: white;

  transition: all .15s;
}

.button:hover{
  background-color: transparent;
  color: #D85B02;
  cursor: pointer;
}